---
layout: default
---
<div id="index" class="row">
  <div class="col-md-9">
    <div class="post-area">
      <!-- small button -->
     <!--  <p class="pull-right visible-xs">
       <button>toggle</button>
     </p> -->
      <div class="post-list-header">
        列表
      </div>
      <div class="post-list-body">
        
        <div class="all-posts" post-cate="All">
          {% for post in paginator.posts %}
            <a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">
              <h2>
              {{ post.title }}
              </h2>
              <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
            </a>



          {% endfor %}
          <!-- 分页 -->
      <div class="paginator">
              {% if paginator.total_pages > 1 %}
              <!-- 分页代码 -->
              {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="active">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
        {% endif %}
              {% endif %}
      </div>
      


        </div>
        <!-- <div class="posts-in-categories"> -->
        {% for category in site.categories %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span class="">{{ post.date | date: "%b %-d, %Y" }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
        
        <!-- </div> -->
      </div>
      

     
    </div>
  </div>
  <div class="ccol-md-9">
    <!--
 	<p>
		
	</p>
  	<div class="shadow-corner-curl hidden-xs">
  		<ul class="list-unstyled">
    		<div align="center">
      			<img src="/img/touxiang.png" alt="薛彬" style="width:60%">
      		</div>
  		</ul>
	</div>
	<p>
		
	</p>-->
    <div class="shadow-corner-curl hidden-xs hidden-sm ">
      <div class="categories-list-header">
        分类
      </div>
      
      <a href="{{'/index.html' | prepend: site.baseurl}}" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for category in site.categories order:ascending %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category | first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
    </div>
    <p>
    	
    </p>
    <div class="shadow-corner-curl hidden-xs hidden-sm">
		<div class="categories-list-header">
        	新浪微博
    	</div>  
  		<ul class="list-unstyled">
	    	<div align="center">
				<iframe width="262" height="120" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=262&height=120&fansRow=1&ptype=0&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=1743042963&verifier=4d3ebf96&colors=#c0c0c0,#c0c0c0,666666,0082cb,ecfbfd&dpc=1"></iframe>
			</div>
  		</ul>
	</div>
	<p>
		
	</p>
  </div>
</div>

